<!DOCTYPE html>
<html>

<head>
    
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet"  href="/css/layout.css">
    <link rel="stylesheet"  href="/css/header.css">
    <link rel="stylesheet"  href="/css/footer.css">
    <%- style %>
   
</head>

<body>
    <%- include('_header') %>

     <section id='layout-main'>
        <%- body %>
    </section>

    <%- include('_footer') %>
</body>

</html>